@import "./mixins.scss";

$tdBorderColor: #000;

$theadBackColor: #93a3b1;
$theadColor: #fff;

$tdBackColor: #fff;
$tdFontColor: #000;

$familyTabsBackColor: #14022e;
$familyTabFontColor: white;

$familyTabsBackColorSelected: #cd2456;
$familyTabFontColorSelected: $theadColor;

// COLS SM sizes
@mixin col_size_1_sm {
  $col_size_1_sm: 52px !important;
  width: $col_size_1_sm;
  min-width: $col_size_1_sm;
  max-width: $col_size_1_sm;
}

@mixin col_size_2_sm {
  $col_size_2_sm: 60px !important;
  width: $col_size_2_sm;
  min-width: $col_size_2_sm;
  max-width: $col_size_2_sm;
}
@mixin col_size_3_sm {
  $col_size_3_sm: 70px !important;
  width: $col_size_3_sm;
  min-width: $col_size_3_sm;
  max-width: $col_size_3_sm;
}

@mixin col_size_4_sm {
  $col_size_4_sm: 88px !important;
  width: $col_size_4_sm;
  min-width: $col_size_4_sm;
  max-width: $col_size_4_sm;
}

@mixin col_size_5_sm {
  $col_size_5_sm: 90px !important;
  width: $col_size_5_sm;
  min-width: $col_size_5_sm;
  max-width: $col_size_5_sm;
}

@mixin col_size_6_sm {
  $col_size_6_sm: 95px !important;
  width: $col_size_6_sm;
  min-width: $col_size_6_sm;
  max-width: $col_size_6_sm;
}

// COLS MD sizes
@mixin col_size_1_md {
  $col_size_1_md: 85px !important;
  width: $col_size_1_md;
  min-width: $col_size_1_md;
  max-width: $col_size_1_md;
}

@mixin col_size_2_md {
  $col_size_2_md: 95px !important;
  width: $col_size_2_md;
  min-width: $col_size_2_md;
  max-width: $col_size_2_md;
}

@mixin col_size_3_md {
  $col_size_3_md: 105px !important;
  width: $col_size_3_md;
  min-width: $col_size_3_md;
  max-width: $col_size_3_md;
}

@mixin col_size_4_md {
  $col_size_4_md: 125px !important;
  width: $col_size_4_md;
  min-width: $col_size_4_md;
  max-width: $col_size_4_md;
}

@mixin col_size_5_md {
  $col_size_5_md: 133px !important;
  width: $col_size_5_md;
  min-width: $col_size_5_md;
  max-width: $col_size_5_md;
}

@mixin col_size_6_md {
  $col_size_6_md: 210px !important;
  width: $col_size_6_md;
  min-width: $col_size_6_md;
  max-width: $col_size_6_md;
}

// COLS LG sizes
@mixin col_size_1_lg {
  $col_size_1_lg: 105px !important;
  width: $col_size_1_lg;
  min-width: $col_size_1_lg;
  max-width: $col_size_1_lg;
}

@mixin col_size_2_lg {
  $col_size_2_lg: 115px !important;
  width: $col_size_2_lg;
  min-width: $col_size_2_lg;
  max-width: $col_size_2_lg;
}

@mixin col_size_3_lg {
  $col_size_3_lg: 125px !important;
  width: $col_size_3_lg;
  min-width: $col_size_3_lg;
  max-width: $col_size_3_lg;
}

@mixin col_size_4_lg {
  $col_size_4_lg: 170px !important;
  width: $col_size_4_lg;
  min-width: $col_size_4_lg;
  max-width: $col_size_4_lg;
}

@mixin col_size_5_lg {
  $col_size_5_lg: 180px !important;
  width: $col_size_5_lg;
  min-width: $col_size_5_lg;
  max-width: $col_size_5_lg;
}

@mixin col_size_6_lg {
  $col_size_6_lg: 290px !important;
  width: $col_size_6_lg;
  min-width: $col_size_6_lg;
  max-width: $col_size_6_lg;
}

// COLS XL sizes
@mixin col_size_1_xl {
  $col_size_1_xl: 140px !important;
  width: $col_size_1_xl;
  min-width: $col_size_1_xl;
  max-width: $col_size_1_xl;
}

@mixin col_size_2_xl {
  $col_size_2_xl: 160px !important;
  width: $col_size_2_xl;
  min-width: $col_size_2_xl;
  max-width: $col_size_2_xl;
}

@mixin col_size_3_xl {
  $col_size_3_xl: 200px !important;
  width: $col_size_3_xl;
  min-width: $col_size_3_xl;
  max-width: $col_size_3_xl;
}

@mixin col_size_4_xl {
  $col_size_4_xl: 210px !important;
  width: $col_size_4_xl;
  min-width: $col_size_4_xl;
  max-width: $col_size_4_xl;
}

@mixin col_size_5_xl {
  $col_size_5_xl: 220px !important;
  width: $col_size_5_xl;
  min-width: $col_size_5_xl;
  max-width: $col_size_5_xl;
}

@mixin col_size_6_xl {
  $col_size_6_xl: 350px !important;
  width: $col_size_6_xl;
  min-width: $col_size_6_xl;
  max-width: $col_size_6_xl;
}

// COLS XXL sizes
@mixin col_size_1_xxl {
  $col_size_1_xxl: 170px !important;
  width: $col_size_1_xxl;
  min-width: $col_size_1_xxl;
  max-width: $col_size_1_xxl;
}

@mixin col_size_2_xxl {
  $col_size_2_xxl: 200px !important;
  width: $col_size_2_xxl;
  min-width: $col_size_2_xxl;
  max-width: $col_size_2_xxl;
}

@mixin col_size_3_xxl {
  $col_size_3_xxl: 200px !important;
  width: $col_size_3_xxl;
  min-width: $col_size_3_xxl;
  max-width: $col_size_3_xxl;
}

@mixin col_size_4_xxl {
  $col_size_4_xxl: 260px !important;
  width: $col_size_4_xxl;
  min-width: $col_size_4_xxl;
  max-width: $col_size_4_xxl;
}

@mixin col_size_5_xxl {
  $col_size_5_xxl: 270px !important;
  width: $col_size_5_xxl;
  min-width: $col_size_5_xxl;
  max-width: $col_size_5_xxl;
}

@mixin col_size_6_xxl {
  $col_size_6_xxl: 420px !important;
  width: $col_size_6_xxl;
  min-width: $col_size_6_xxl;
  max-width: $col_size_6_xxl;
}

@mixin header-font-sizes {
  font-size: 9pt;
  @include sm {
    font-size: 9pt;
  }
  @include md {
    font-size: 13pt;
  }
  @include lg {
    font-size: 15pt;
  }
  @include xl {
    font-size: 17pt;
  }
  @include xxl {
    font-size: 22pt;
  }
}

@mixin row-font-sizes {
  font-size: 8pt;
  @include sm {
    font-size: 8pt;
  }
  @include md {
    font-size: 12pt;
  }
  @include lg {
    font-size: 14pt;
  }
  @include xl {
    font-size: 16pt;
  }
  @include xxl {
    font-size: 21pt;
  }
}

@mixin colSize1 {
  @include col_size_1_sm;
  @include sm {
    @include col_size_1_sm;
  }
  @include md {
    @include col_size_1_md;
  }
  @include lg {
    @include col_size_1_lg;
  }
  @include xl {
    @include col_size_1_xl;
  }
  @include xxl {
    @include col_size_1_xxl;
  }
}

@mixin colSize2 {
  @include col_size_2_sm;
  @include sm {
    @include col_size_2_sm;
  }
  @include md {
    @include col_size_2_md;
  }
  @include lg {
    @include col_size_2_lg;
  }
  @include xl {
    @include col_size_2_xl;
  }
  @include xxl {
    @include col_size_2_xxl;
  }
}

@mixin colSize3 {
  @include col_size_3_sm;

  @include sm {
    @include col_size_3_sm;
  }
  @include md {
    @include col_size_3_md;
  }
  @include lg {
    @include col_size_3_lg;
  }
  @include xl {
    @include col_size_3_xl;
  }
  @include xxl {
    @include col_size_3_xxl;
  }
}

@mixin colSize4 {
  @include col_size_4_sm;

  @include sm {
    @include col_size_4_sm;
  }
  @include md {
    @include col_size_4_md;
  }
  @include lg {
    @include col_size_4_lg;
  }
  @include xl {
    @include col_size_4_xl;
  }
  @include xxl {
    @include col_size_4_xxl;
  }
}

@mixin colSize5 {
  @include col_size_5_sm;
  @include sm {
    @include col_size_5_sm;
  }
  @include md {
    @include col_size_5_md;
  }
  @include lg {
    @include col_size_5_lg;
  }
  @include xl {
    @include col_size_5_xl;
  }
  @include xxl {
    @include col_size_5_xxl;
  }
}

@mixin colSize6 {
  @include col_size_6_sm;
  @include sm {
    @include col_size_6_sm;
  }
  @include md {
    @include col_size_6_md;
  }
  @include lg {
    @include col_size_6_lg;
  }
  @include xl {
    @include col_size_6_xl;
  }
  @include xxl {
    @include col_size_6_xxl;
  }
}

@mixin colSize7 {
  width: unset !important;
  min-width: -webkit-fill-available !important;
  max-width: unset !important;
}

@mixin verticalAlign {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  margin: unset;
}

@mixin borderFamilyTabs {
  border: 1px solid black;
  border-right: unset;
}

@mixin familyTabSelected {
  background-color: $familyTabsBackColorSelected;
  color: $familyTabFontColorSelected;
}

.ccl {
  &__container {
    @include responsive-container;
  }

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "ccl__para ccl__para"
      "ccl__family-1 ccl__tech-grid"
      "ccl__family-2 ccl__tech-grid"
      "ccl__family-3 ccl__tech-grid"
      "ccl__family-4 ccl__tech-grid"
      "ccl__family-5 ccl__tech-grid"
      "ccl__family-6 ccl__tech-grid"
      "ccl__family-7 ccl__tech-grid"
      ". .";
  }

  &__all-family-tabs {
    @include borderFamilyTabs;
    background-color: $familyTabsBackColor;
    color: $familyTabFontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    min-width: 230px;
    margin-right: 0.4rem !important;
    > div {
      text-align: center;
      width: 60%;
      margin: 0px auto;
    }
    @include row-font-sizes;
  }

  &__family-1 {
    grid-area: ccl__family-1;
  }

  &__family-2 {
    grid-area: ccl__family-2;
  }

  &__family-3 {
    grid-area: ccl__family-3;
  }

  &__family-4 {
    grid-area: ccl__family-4;
  }

  &__family-5 {
    grid-area: ccl__family-5;
  }

  &__family-6 {
    grid-area: ccl__family-6;
  }

  &__family-7 {
    grid-area: ccl__family-7;
  }

  &__family-selected {
    @include familyTabSelected;
  }

  &__tech-grid {
    display: grid;
    grid-area: ccl__tech-grid;
  }

  &__para {
    justify-self: center;
    align-self: center;
    grid-area: ccl__para;
    font-weight: bold;
    @include md-font-size-global;
  }

  &__table {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      cursor: pointer;
      width: 10px;
    }

    &::-webkit-scrollbar:horizontal {
      cursor: pointer;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0.5);
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
      border-width: 0px;
      border-color: $tdBorderColor;
      border-style: solid;
      color: #000000;
    }

    table th {
      border-bottom: 1px solid;
      border-right: 1px solid;
      padding: 5px;
    }

    table td {
      padding: 5px;
      border-bottom: 1px solid;
      border-right: 1px solid;
      background-color: $tdBackColor;
      color: $tdFontColor;
    }

    table thead {
      padding: 5px;
      background-color: $theadBackColor;
      color: $theadColor;
    }

    table thead th {
      position: sticky;
      top: 0;
      background-color: #edecec;
    }

    table tbody:nth-of-type(1) tr:nth-of-type(1) td {
      border-top: none !important;
    }

    table thead th {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 1px 1px 0 #000000, inset 1px 1px 0 #000000;
      padding: 1px 0;
    }

    table thead th {
      background-clip: padding-box;
    }
  }

  &__all-para {
    padding: 5px;
    text-align: left;
    font-weight: bold;
  }

  &__all_table_data {
    @include row-font-sizes;
  }

  &__all-headers {
    @include header-font-sizes;

    &__0 {
      @include colSize5;
    }
    &__1 {
      @include colSize6;
    }
    &__2 {
      @include colSize6;
    }
    &__3 {
      @include colSize5;
    }
    &__4 {
      @include colSize1;
    }
    &__5 {
      @include colSize3;
    }
    &__6 {
      @include colSize2;
    }
    &__7 {
      @include colSize4;
    }
    &__8 {
      @include colSize4;
    }
    &__9 {
      @include colSize7;
    }
  }

  &__challenge {
    &__content {
      font-weight: bold;
      @include colSize5;
    }
  }

  &__definition {
    &__content {
      @include colSize6;
    }
  }

  &__scenario {
    &__content {
      @include colSize6;
    }
  }

  &__domain {
    &__content {
      text-align: center;
      @include colSize5;
    }
  }

  &__horizon {
    &__content {
      text-align: center;
      @include colSize1;
    }
  }

  &__impact {
    &__content {
      text-align: center;
      @include colSize3;
    }
  }

  &__valence {
    &__content {
      text-align: center;
      @include colSize2;
    }
  }

  &__activity {
    &__content {
      text-align: center;
      @include colSize4;
    }
  }

  &__cognition {
    &__content {
      text-align: center;
      @include colSize4;
    }
  }

  &__challenges {
    &__content {
      @include colSize7;
    }
  }
}

.selected {
  @include familyTabSelected;
}

.fixed-header {
  th[scope="row"] {
    background-color: $theadBackColor;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.fixed-column-one {
  th[scope="col"] {
    background-color: $theadBackColor;
    border-left: 1px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 4;
  }
  td[scope="col"] {
    background-color: $tdBackColor;
    border-left: 1px solid black;
    color: $tdFontColor;
    position: sticky;
    left: 0;
    z-index: 3;
  }
  th:first-child {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;
  }
}
