@import "./mixins.scss";

$defaultBorder: 1px solid black;
$defaultBorderRadius: 4px;

.slider-side-menu-container {
  -webkit-transition: width 0.15s;
  z-index: 7000;
  transition: width 0.15s;
  -webkit-transition-timing-function: cubic-bezier(1);
  transition-timing-function: cubic-bezier(1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
  grid-template-columns: 6fr 1fr;
  -ms-grid-rows: 0.15fr 0.6fr 1fr;
  grid-template-rows: 0.15fr 0.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "slide-side-menu-main slide-side-menu-main ."
    "slide-side-menu-main slide-side-menu-main slide-side-menu-toggle"
    "slide-side-menu-main slide-side-menu-main .";
  left: 0;
  top: 100px;
  position: fixed;
  width: 0px;
  height: calc(100vh - 200px);

  @include sm {
    -ms-grid-rows: 0.15fr 0.6fr 1fr;
    grid-template-rows: 0.15fr 0.6fr 1fr;
  }
  @include md {
    -ms-grid-rows: 0.15fr 0.6fr 1fr;
    grid-template-rows: 0.15fr 0.6fr 1fr;
  }
  @include lg {
    -ms-grid-rows: 0.15fr 0.5fr 1fr;
    grid-template-rows: 0.15fr 0.5fr 1fr;
  }
  @include xl {
    -ms-grid-rows: 0.15fr 0.3fr 1fr;
    grid-template-rows: 0.15fr 0.3fr 1fr;
  }
  @include xxl {
    -ms-grid-rows: 0.15fr 0.1fr 1fr;
    grid-template-rows: 0.15fr 0.1fr 1fr;
  }
}

.slider-menu-left-menu {
  background-color: #14022e;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  grid-area: slide-side-menu-main;
  margin-top: 20px;
  background-color: #14022e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  grid-area: slide-side-menu-main;
  overflow-y: scroll;
  margin-bottom: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 200px;
  max-height: calc(100vh - 200px);

  margin-top: 3vh;

  @include sm {
    margin-top: 2vh;
    min-height: 200px;
    max-height: calc(100vh - 200px);
  }
  @include md {
    margin-top: 4.5vh;
    min-height: 200px;
    max-height: 75vh;
  }
  @include lg {
    margin-top: 6.5vh;
    min-height: 250px;
    max-height: 75vh;
  }
  @include xl {
    margin-top: 7vh;
    min-height: 300px;
    max-height: 75vh;
  }
  @include xxl {
    margin-top: 10vh;
    min-height: 300px;
    max-height: 75vh;
  }
}

.slider-side-menu-toggle-title {
  cursor: pointer;
  height: 84px;
  width: 35px;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  grid-area: slide-side-menu-toggle;
  background-color: #14022e;
  color: white;

  // DEFAULT rgb(255, 94, 94)
  // @include test-size-color-default;

  margin-top: 0vh;

  @include sm {
    // SM rgb(64, 128, 64)
    // @include test-size-color-sm;
    margin-top: -0.5vh;
    width: 35px;
  }
  @include md {
    // MD rgb(245, 223, 125)
    // @include test-size-color-md;
    margin-top: -0.1vh;
    width: 40px;
    height: 100px;
  }
  @include lg {
    // LG rgb(115, 195, 226)
    // @include test-size-color-lg;
    margin-top: 0.5vh;
    width: 45px;
    height: 110px;
  }
  @include xl {
    // XL rgb(167, 115, 226)
    // @include test-size-color-xl;
    margin-top: -0.5vh;
    width: 50px;
    height: 120px;
  }
  @include xxl {
    // XXL rgb(23, 25, 126)
    // @include test-size-color-xxl;
    margin-top: 0.1vh;
    height: 150px;
    width: 55px;
  }
}

.tech-detail-visualisation-page-menu {
  align-self: flex-end;
  max-height: unset;
  margin-top: unset;
  margin-bottom: unset;
  margin-bottom: 0.5vh;
  @include sm {
    margin-bottom: 1vh;
  }
  @include md {
    margin-bottom: 3vh;
  }
  @include lg {
    margin-bottom: 10vh;
  }
  @include xl {
    margin-bottom: 16vh;
  }
  @include xxl {
    margin-bottom: 20vh;
  }
}

.tech-detail-visualisation-page-tab {
  margin-top: calc(100vh / 2.2);
}

.slider-side-menu-text {
  margin: 0 auto;
  transform-origin: 38px 35px;
  transform: rotate(-90deg);
  font-size: 12pt;
  @include sm {
    font-size: 12pt;
    transform-origin: 37px 34px;
  }
  @include md {
    font-size: 14pt;
    transform-origin: 43px 40px;
  }
  @include lg {
    font-size: 16pt;
    transform-origin: 48px 45px;
  }
  @include xl {
    transform-origin: 52px 47px;
  }
  @include xxl {
    font-size: 20pt;
    transform-origin: 65px 60px;
  }
}

.slider-side-menu-components {
  padding: 0px 15px;
  text-align: center;
  max-height: inherit;
}

.single-menu-component {
  padding-bottom: 8%;
  @include sm {
    padding-bottom: 8%;
  }
  @include md {
    padding-bottom: 8%;
  }
  @include lg {
    padding-bottom: 8%;
  }
  @include xl {
    padding-bottom: 7%;
  }
  @include xxl {
    padding-bottom: 6%;
  }
  > button {
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: 40px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: white;
    margin-bottom: 10px;
    border: $defaultBorder;
    border-radius: $defaultBorderRadius;
    @include sm {
      font-weight: bold;
      height: 40px;
      font-size: 10pt;
    }
    @include md {
      height: 45px;
      font-size: 10pt;
    }
    @include lg {
      height: 48px;
      font-size: 12pt;
    }
    @include xl {
      height: 51px;
      font-size: 14pt;
    }
    @include xxl {
      height: 53px;
      font-size: 16pt;
    }
  }
  > .toggle-on {
    background-color: #70cce8;
  }
  > .toggle-off {
    background-color: white;
  }
}

.slider-side-menu-group-title {
  font-size: 11pt;
  color: white;
  text-align: left;
  margin: 0px;
  @include sm {
    font-size: 11pt;
  }
  @include md {
    font-size: 13pt;
  }
  @include lg {
    font-size: 15pt;
  }
  @include xl {
    font-size: 17pt;
  }
  @include xxl {
    font-size: 19pt;
  }
}

.scroller-settings > {
  ::-webkit-scrollbar {
    width: 0.5em !important;
    scroll-behavior: smooth !important;
    margin: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
    border-radius: 10px !important;
    margin: 10px;
  }
}

.submit-button {
  &__disabled {
    opacity: 0.3;
    cursor: default !important;
    &:focus {
      outline: 0;
    }
  }
}
